body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* for notification bell */
.navbar {
  height: 50px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.iconImg {
  width: 20px;
  height: 20px;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.notifications {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notification {
  padding: 5px;
  font-size: 14px;
}

.nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .css-8nthb6 {
    font-size: 13px;
  }
  .css-ez23ye {
    margin: 0px -4px 0 -4px;
  }
}
@media screen and (min-width: 431px) {
  .iconImg{
    position: relative;
    top: 7px;
    right: 7px;
  }
}
@media screen and (max-width: 430px) {
  .notification-and-profile{
    display: flex;
  }
  .css-onkibi{
    display: none;
  }
  .css-1fprqee {
    font-size: 19px;
  }
  .iconImg{
    position: relative;
    top: 3px;
    right: 7px;
    width: 20px;
  }
  /* .css-8nthb6 {
    font-size: 13px;
  } */
  /* .chevron-down-icon{
    display: none;
  } */
  .css-ez23ye {
    margin: 0px -4px 0 -4px;
  }
}
